@import "../../utilities/colors/colors.scss";

$fontSize: calc(13px + 0.5vw);
$badgeSize: calc(20px + 3.5vw);

mat-card.dialog-container {
  width: 25vw;
  min-width: 375px;
  height: 65vh;
  padding: 25px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .userInfo-picture {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .userInfo-img-default,
    .userInfo-img {
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      span {
        color: $white;
        font-size: 30px;
      }
    }
    .userInfo-img-default {
      border-radius: 100%;
      background-color: rgba($secondary, 0.5);
    }
    .userInfo-img {
      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        overflow: hidden;
      }
    }
    .userInfo-name {
      font-size: $fontSize;
      font-weight: bold;
    }
  }
  .userInfo-info {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .info-field {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      span {
        font-size: $fontSize;
        font-weight: bold;
        text-align: end;
        color: rgba($black, 0.75);
      }
    }
  }
  .userInfo-badges {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .badge {
      width: $badgeSize;
      height: $badgeSize;
      opacity: 0.2;
      align-items: center;
    }
    .badge.owned {
      opacity: 1;
    }
    .badge-count {
      text-align: center;
      color: rgba($green, 0.8);
      font-size: 32px;
      font-weight: bolder;
      margin: 0;
    }
  }
  .userInfo-badges-percent {
    align-items: flex-start;
  }
  .btn-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .btn {
      margin-top: 10px;
      width: 120px;
      height: 30px;
      cursor: pointer;
      font-size: 18px;
      color: $secondary;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 3px 3px 8px rgba($black, 0.5);
    }
    .btn:hover {
      box-shadow: 1px 1px 4px rgba($black, 0.5);
    }
  }
}
