<div class="container">
  <span (click)="close()" class="close">x</span>
  <div class="profile-box">
    <div class="profile-header">
      <div class="profile-img">
        <img *ngIf="userInfo?.pictureUrl != '' && userInfo?.pictureUrl != null" src={{userInfo?.pictureUrl}} alt=""
          class="avatar-img">
        <img *ngIf="userInfo?.pictureUrl == '' || userInfo?.pictureUrl == null" src="../../../assets/images/avatar.jpg"
          alt="" class="avatar-img">
      </div>
      <div class="header-info-box">
        <div class="info-field">
          <span class="name">{{userInfo?.name}}</span>
        </div>
        <div class="info-field">
          <span class="grade">{{userInfo?.grade}}</span>
          <span class="grade" *ngIf="userInfo?.grade == 7 || userInfo?.grade == 8">-м</span>
          <span class="grade" *ngIf="userInfo?.grade != 7 && userInfo?.grade != 8">-т</span>
          <span class="grade">и клас</span>
        </div>
      </div>
    </div>
    <div class="profile-content">

      <div class="info-field">
        <div class="icon-box">
          <img src="../../../assets/icons/profile/location.svg" alt="">
        </div>
        <span class="text">{{userInfo?.townName}}</span>
      </div>
      <div class="info-field">
        <div class="icon-box">
          <img src="../../../assets/icons/profile/school.svg" alt="">
        </div>
        <span class="text">{{userInfo?.schoolName}}</span>
      </div>
    </div>
    <div *ngIf="userInfo?.badges != null && userInfo?.badges != []" class="badges-box">
      <div class="badges">
        <div *ngFor="let b of userInfo?.badges" class="badge-container">
          <img class="badge" src="../../../assets/icons/badges/{{b.code}}.svg" alt="">
          <div class="badge-count" *ngIf="b.code < 2000"><span class="text">{{badgeCount(b.code)}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
