@import "../../utilities/colors/colors.scss";

.header {
  position: relative;
  mat-toolbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    // img {
    //   width: 60px;
    //   height: 60px;
    // }
    mat-icon,
    .icon {
      align-content: center;
      font-size: 44px;
      height: 44px;
      width: 44px;
      color: $icon;
      text-decoration: none;
    }
    mat-icon:hover {
      color: $white;
      cursor: pointer;
    }
  }
  .modal {
    position: absolute;
    top: 70px;
    right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    height: 88px;
    width: 200px;

    .modal-field {
      width: 200px;
      height: 40px;
      text-decoration: none;
      border: $secondary solid 0.3px;
      border-radius: 5px;
      .modal-field-text {
        text-align: center;
        margin: 4px 0 0 0;
        font-size: 24px;
        color: $secondary;
      }
    }
    .modal-field:hover {
      .modal-field-text {
        color: $white;
        font-size: 28px;
      }
      cursor: pointer;
      background-color: $secondary;
    }
  }
}
