<mat-toolbar class="header">
  <mat-toolbar-row>
    <a class="icon" routerLink="/main" (click)="hideModal()">
      <mat-icon>home</mat-icon>
    </a>
    <img *ngIf="isAuth" src="../../../assets/icons/favicon.ico">
    <a *ngIf="isAuth" class="icon" (click)="changesChowModal()">
      <mat-icon>account_circle</mat-icon>
    </a>
  </mat-toolbar-row>
  <div class="modal" *ngIf="showModale">
    <a class="modal-field" routerLink="/profile" (click)="hideModal()">
      <p class="modal-field-text">Профил</p>
    </a>
    <a class="modal-field" (click)="handleSignOut()">
      <p class="modal-field-text">Отписване</p>
    </a>
  </div>

</mat-toolbar>

<!-- <mat-menu #menu="matMenu">
  <button mat-menu-item class="modal-field">
    <mat-icon class="modal-field-text">dialpad</mat-icon>
    <span class="modal-field-text">Профил</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item class="modal-field">
    <mat-icon class="modal-field-text">exit_to_app</mat-icon>
    <span class="modal-field-text">Отписване</span>
  </button>
</mat-menu> -->
