<mat-toolbar class="header">
  <mat-toolbar-row>
    <a class="icon" routerLink="/main" (click)="hideModal()">
      <mat-icon>home</mat-icon>
    </a>
    <!-- <img src="../../../assets/icons/favicon.ico"> -->
    <a class="icon" (click)="changesChowModal()">
      <mat-icon>account_circle</mat-icon>
    </a>
  </mat-toolbar-row>
  <div class="modal" *ngIf="showModale && isAuth">
    <a class="modal-field" routerLink="/profile" (click)="hideModal()">
      <p class="modal-field-text">Профил</p>
    </a>
    <a class="modal-field" routerLink="/auth/register" (click)="hideModal()">
      <p class="modal-field-text">Отписване</p>
    </a>
  </div>
</mat-toolbar>
