<div class="container">
  <p class="product-desc">{{product?.description}}</p>
  <p class="product-name">{{product?.name}}</p>
  <div class="prices-container">
    <div *ngFor="let pr of prices" (click)="setClickedPrice(pr.id)" class="price"
      [ngClass]="{'clicked': pr.id == clickedPriceId}">
      <p class="title">{{pr.subscription}}</p>
      <p class="desc">{{pr.description}}</p>
      <p class="value">{{pr.price}} BGN <span *ngIf="pr.subscription"
          class="text">/{{pr.subscription.toLowerCase()}}</span></p>

      <div *ngIf="pr.subscription" class="text-container">
        <img src="../../../assets/icons/check.svg" alt="">
        <span class="text">{{pr.subscription}}ly access</span>
      </div>
      <div *ngIf="pr.subscription" class="text-container">
        <img src="../../../assets/icons/check.svg" alt="">
        <span class="text">Recurring</span>
      </div>
      <div *ngIf="pr.subscription" class="text-container">
        <img src="../../../assets/icons/check.svg" alt="">
        <span class="text">Free cancelation</span>
      </div>
      <a class="btn" (click)="Checkout(pr.id)">Checkout</a>
    </div>
  </div>
</div>


  <!-- <stripe-pricing-table 
    pricing-table-id="prctbl_1MdcsEKhToe92XvgpKH5mXo4"
    publishable-key="pk_live_51MSKWBKhToe92XvgM65DZJaptqL7LRfbRv5zQYWlqNyaCouGNy4njJH8R3mJHobeAVywLXyhedcWhuF9AgRWVtM8006vwATuBn">
  </stripe-pricing-table> -->




