<div class="container">
  <div class="title">Редакция</div>
  <div class="form-box">
    <form [formGroup]="form" class="form">
      <div class="field">
        <div class="info">
          <span class="label">Име</span>
          <mat-error *ngIf="name.touched && form.hasError('nameNotMatchingRegEx')">
            *валидно име, от 3 до 30 символа
          </mat-error>
        </div>
        <input type="text" formControlName="name" class="input">
      </div>

      <div class="field">
        <div class="info">
          <span class="label">Имейл</span>
          <mat-error *ngIf="email.touched && email.hasError('email')">*имейл адресът не е валиден</mat-error>
        </div>
        <input type="email" formControlName="email" class="input">
      </div>

      <div class="field">
        <div class="info">
          <span class="label">Клас</span>
          <mat-error *ngIf="grade.touched && form.hasError('gradeNotMatching')">*цифра между 4 и 12.
          </mat-error>
        </div>
        <input type="number" min="4" max="12" formControlName="grade" class="input">
      </div>

      <div class="field" (click)="updateSchool()" title="смени училище">
        <div class="info">
          <span class="label">Училище</span>
        </div>
        <div class="input input-school"><span class="placeholder">{{editedProfile.school.name}}</span></div>
      </div>
    </form>

  </div>
  <div class="btn-box">
    <button class="btn" (click)="cancel()">Отказ</button>
    <button class="btn" [disabled]="!form.valid" (click)="confirm()">Потвърди</button>
  </div>
</div>
