<mat-card class="dialog-container">
  <mat-card-title>Редакция</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-error *ngIf="showError">{{errorMessage}}</mat-error>
      <mat-form-field>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="name.touched && name.hasError('required')">*полето е задължително</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="email.touched && email.hasError('required')">*полето е задължително</mat-error>
        <mat-error *ngIf="email.touched && email.hasError('email')">*имейлът трябва да е валиден такъв</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" min="4" max="12" formControlName="grade">
        <mat-error *ngIf="grade.touched && grade.hasError('required')">*полето е задължително</mat-error>
      </mat-form-field>
      <div class="school-field" (click)="updateSchool()" title="смени училище">
        <p>{{editedProfile?.school?.name}}</p>
        <!-- <mat-icon (click)="updateSchool()">edit</mat-icon> -->
      </div>

    </form>
  </mat-card-content>
  <div class="dialog-btn-container">
    <button class="btn" (click)="cancel()">Отказ</button>
    <button class="btn " (click)="confirm()">Потвърди</button>
  </div>
</mat-card>
