mat-card.dialog-container {
  width: 25vw;
  height: 42vh;
  //padding: 30px;
  mat-card-content {
    form {
      height: 32vh;
      display: flex;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      mat-form-field {
        width: 100%;
        height: 45px;
        input,
        mat-select,
        mat-option {
          width: 100%;
          height: 30px;
        }
      }
      .school-field {
        margin-top: 10px;
        border-bottom: 1px solid rgba(#000000, 0.45);
        p {
          cursor: pointer;
          padding-bottom: 5px;
        }
        p:hover {
          font-weight: bold;
          color: #000000;
        }
      }
    }
  }
}
