@import "../../utilities/colors/colors.scss";

div#cdk-overlay-0.cdk-overlay-pane {
  max-width: 98vw !important;
}
.dialog-container {
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 16px;
  .img-container {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
