@import "../../utilities/colors/colors.scss";

.progress-bar-container {
  width: calc(100% - 40px);
  height: 30px;
  margin: 10px 20px 20px 20px;
  .bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .stepper-wrapper {
      height: 100%;
      width: calc((100% / 20) + 1px);
      .stepper-item {
        width: 100%;
        height: 100%;
      }
      .stepper-item.completed {
        background-color: $secondary;
      }
    }
    .stepper-wrapper:first-child .stepper-item {
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }

    .stepper-wrapper:last-child .stepper-item {
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}
