<div class="container">
  <div class="action-container">
    <div class="title-container">
      <span class="title">Забравена парола</span>
      <span class="text">Линк за промяната ще получите на имейл</span>
    </div>
    <div class="form-container">
      <form [formGroup]="form" class="form">

        <mat-error *ngIf="showError" class="server-error">{{errorMessage}}</mat-error>
        <div class="input-container">
          <div class="info">
            <span class="label">Имейл</span>
            <mat-error *ngIf="email.touched && email.hasError('email')">*имейл адресът не е валиден</mat-error>
          </div>
          <input type="email" formControlName="email" class="input" placeholder="Въведете своя имейл">
        </div>

        <div class="button-container">
          <button mat-button type="submit" [disabled]="!form.valid" class="button">Изпрати</button>
        </div>
      </form>

    </div>
  </div>
</div>
