@import "../../utilities/colors/colors.scss";
$box_size: calc((100vw - 200px) / 4);
$icon_size: calc(((100vw - 200px) / 4) * 0.7);

.container {
  width: 100vw;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  .boxes-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    .box {
      width: $box_size;
      height: $box_size;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0.1px solid $secondary;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      mat-icon {
        color: rgba($secondary, 0.5);
        font-size: $icon_size;
        width: $icon_size;
        height: $icon_size;
      }
      p {
        color: $secondary;
        font-size: 38px;
      }
    }

    .box:hover {
      background-color: $secondary;
      mat-icon {
        color: rgba($icon, 0.85);
      }
      p {
        color: $icon;
        font-size: 38px;
        margin: 18px 0;
      }
    }
  }
}
