<div class="container">
  <div class="title-container">
    <span class="title">Предмети</span>
  </div>
  <div class="box-container">
    <a (click)="chooseSubject(s)" *ngFor="let s of subjects|async" class="box">
      <img *ngIf="setClassBySbjName(s.name) == 'bel'" src="../../../assets/icons/subjects/bel.svg" alt=""
        class="box-icon">
      <img *ngIf="setClassBySbjName(s.name) == 'bio'" src="../../../assets/icons/subjects/bio.svg" alt=""
        class="box-icon">
      <span class="box-name" [ngClass]="[setClassBySbjName(s.name)]">{{s.name}}</span>
    </a>
    <a class="box">
      <img src="../../../assets/icons/subjects/geo.svg" alt="" class="box-icon">
      <span class="box-name geo">География</span>
    </a>
    <a class="box">
      <img src="../../../assets/icons/subjects/chm.svg" alt="" class="box-icon">
      <span class="box-name chm">Химия</span>
    </a>
  </div>

  <div class="title-container">
    <span class="title">Статистика</span>
  </div>
  <div class="box-container">
    <a class="box box-active-big">
      <div *ngFor="let d of userLastDays" class="days-box">
        <span class="title">{{d.date}}</span>
        <span class="title">-{{d.testsCount}}</span>
      </div>
    </a>
    <a class="box box-active-small">
      <span class="box-name">{{userTestCount}}</span>
    </a>
    <a class="box box-active-small">
      <span class="box-name">Активност 3</span>
    </a>
    <a class="box box-active-big">
      <div *ngFor="let t of userLastTests" class="days-box">
        <span class="title">{{t.date}}</span>
        <span class="title">-{{t.score}}</span>
        <span class="title">{{t.subjectName}}</span>
      </div>
    </a>
  </div>
</div>
