@import "../../utilities/colors/colors.scss";
@import "../../utilities/devices/breakpoints.css";

.container {
  display: flex;
  width: 100%vw;
  justify-content: center;
  .sbj-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    .sbj {
      background-color: rgba($white, 0.5);
      border-radius: 8px;
      width: 320px;
      height: 240px;
      margin: 8px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .sbj-icon {
        width: 96px;
        height: 96px;
      }
      .sbj-name {
        font-size: 32px;
        line-height: 44px;
        font-weight: 700;
        margin-top: 16px;
      }
      .bel {
        color: $sbj-bel;
      }
      .bio {
        color: $sbj-bio;
      }
      .geo {
        color: $sbj-geo;
      }
      .chm {
        color: $sbj-chm;
      }
    }
  }
}
