@import "../../utilities/colors/colors.scss";
@import "../../utilities/devices/breakpoints.scss";

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  .title-container,
  .box-container {
    width: calc(100% - 48px);
    box-sizing: border-box;
  }
  .title-container {
    margin: 24px 0;
    .title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: $primary;
    }
  }
  .box-container {
    display: flex;
    flex-flow: wrap;
    .box {
      background-color: rgba($white, 0.5);
      backdrop-filter: blur(20px);
      border-radius: 8px;
      width: calc(100% / 2 - 10px);
      height: 116px;
      margin: 0 5px 10px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .box-icon {
        width: 48px;
        height: 36px;
      }
      .box-name {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        margin-top: 12px;
      }
      .bel {
        color: $sbj-bel;
      }
      .bio {
        color: $sbj-bio;
      }
      .geo {
        color: $sbj-geo;
      }
      .chm {
        color: $sbj-chm;
      }
    }
    .box-active-big {
      width: calc(100% - 10px);
      height: 90px;
    }
    .box-active-small {
      width: calc(50% - 10px);
      height: 90px;
    }
  }
}

@media (min-width: $tablet) {
  .container {
    padding: 0 40px;
    .title-container,
    .box-container {
      width: 100%;
    }
    .title-container {
      .title {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .box-container {
      flex-direction: row;
      justify-content: space-around;
      .box,
      .box-active-big,
      .box-active-small {
        margin: 0 8px 16px 8px;
        box-sizing: border-box;
      }
      .box {
        width: calc(25% - 16px);
        min-width: 220px;
        height: 180px;
        .box-icon {
          width: 72px;
          height: 54px;
        }
        .box-name {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .box-active-big,
      .box-active-small {
        margin: 0 8px 16px 8px;
        height: 120px;
      }
      .box-active-big {
        width: calc(75% - 16px);
      }
      .box-active-small {
        width: calc(25% - 16px);
      }
    }
  }
}
@media (min-width: $desktop) {
  .container {
    .title-container {
      .title {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .box-container {
      .box {
        height: 240px;
        .box-icon {
          width: 96px;
          height: 80px;
        }
        .box-name {
          font-size: 32px;
          line-height: 44px;
        }
      }
      .box-active-big {
        width: calc(34% - 16px);
        height: 150px;
      }
      .box-active-small {
        width: calc(16% - 16px);
        min-width: 200px;
        height: 150px;
      }
    }
  }
}
@media (min-width: $desktop-b) {
  .container {
    .title-container {
      .title {
        font-size: 36px;
        line-height: 48px;
      }
    }
    .box-container {
      .box-active-big,
      .box-active-small {
        height: 180px;
      }
      .box-active-big {
        width: calc(65% - 16px);
      }
      .box-active-small {
        width: calc(35% - 16px);
      }
    }
  }
}
