<div class="container">
  <div class="title-container">
    <span class="title">Предмети</span>
  </div>
  <div class="box-container">
    <a (click)="chooseSubject(s)" *ngFor="let s of subjects|async" class="box">
      <img src="../../../assets/icons/subjects/{{s.id}}.svg" alt=""
        class="box-icon">
      <span class="box-name" [ngClass]="s.id">{{s.name}}</span>
    </a>
  </div>

  <div class="title-container">
    <span class="title">Статистика</span>
  </div>
  <div class="box-container">
    <a class="box box-big">
      <canvas id="daysChart">{{userLastDaysChart}}</canvas>
    </a>
    <div class="small-boxes-container">
      <a class="box box-small">
        <span class="box-value">{{userTestCount}}</span>
        <span class="box-text">завършени тестa</span>
      </a>
      <a class="box box-small">
        <span class="box-text">номер</span>
        <span class="box-value">{{userBestRank?.rank}}</span>
        <span class="box-text" [ngClass]="{'box-text-long': isNameLong(userBestRank?.subjectName)}">{{userBestRank?.subjectName}}</span>
      </a>
    </div>
    <a class="box box-big">
      <canvas id="testsChart">{{userLastTestsChart}}</canvas>
    </a>
  </div>
</div>
