<div class="test-screen-conatiner">
  <div class="progress-bar-container">
    <div class="bar-container">
      <div class="stepper-wrapper" *ngFor="let p of problems, let i = index">
        <div class="stepper-item" [ngClass]="{'active' : problemNumber == (i+1), 'completed' : problemNumber > i + 1}">
          <div class="step-counter">{{i + 1}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="test-container">
    <div *ngFor="let p of problems, let i = index">
      <div *ngIf="problemNumber == i+1" class="test">
        <div class="test-q">{{p.questionText}}</div>
        <div *ngFor="let a of p.answers" class="test-a-container">
          <a class="test-a" (click)="chooseAnswer(a.isCorrect)">
            <div>{{a.text}}</div>
          </a>
        </div>
        <div class="test-h">{{p.hint}}</div>
        <div class="test-p-container">
          <img class="test-img" src="{{p.pictureUrl}}" alt=""
            onerror="this.onerror=null;this.src='../../../assets/icons/favicon.ico';">
        </div>
      </div>
    </div>
  </div>

  <div class="button">
    <a (click)="nextProblem()">Напред</a>
  </div>
</div>
