@import "../../utilities/colors/colors.scss";

$q-fontSize: calc(100vw / 72);
$q-lineHeight: calc(100vw / 72 * 1.3);
$a-fontSize: calc(100vw / 78);
$a-lineHeight: calc(100vw / 78 * 1.3);
$btn-fontSize: calc(100vw / 50);
$btn-iconSize: calc(100vw / 50 * 1.5);

.test-container {
  box-sizing: border-box;
  .test {
    height: 70vh;
    width: 100vw;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .test-content {
      width: 70%;
      height: 100%;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      .test-q {
        width: 100%;
        height: 30%;
        background-color: rgba($green, 0);
        border-radius: 15px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: $q-fontSize;
          line-height: $q-lineHeight;
          font-weight: bold;
          text-align: center;
        }
      }
      .test-a {
        width: 49%;
        height: 25%;
        background-color: rgba($white, 0.5);
        box-shadow: 3px 3px 8px rgba($black, 0.5);
        border-radius: 45px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: $a-fontSize;
          line-height: $a-lineHeight;
          text-align: center;
        }
      }
      .test-a-correct {
        background-color: $green;
        color: $white;
      }
      .test-a-selected {
        border: 2px solid $black;
        background-color: $red;
        span {
          color: $white;
        }
      }
      .test-a-correct.test-a-selected {
        background-color: $green;
        span {
          color: $white;
        }
      }
      .test-a-active:hover {
        cursor: pointer;
        background-color: rgba($white, 0.8);
        box-shadow: 1px 1px 4px rgba($black, 0.5);
      }
      .result-info-container {
        width: 100%;
        height: 13%;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($green, 0.7);
        padding: 0 20px;
        .result-info-sector {
          display: flex;
          flex-direction: column;
          align-content: center;
          width: 112px;
          .text,
          .number {
            text-align: center;
          }
          .number {
            font-size: $btn-fontSize;
            font-weight: bold;
            color: $white;
          }
          .text {
            font-size: 14px;
            color: $icon;
          }
        }
      }
    }
    .test-info {
      width: 27%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .test-img-container {
        width: 100%;
        height: 42%;
        border-radius: 5px;
        .test-img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          overflow: hidden;
          object-fit: contain;
          cursor: zoom-in;
        }
      }
      .true-img:hover {
        position: relative;

        .test-img {
          position: absolute;
          border-radius: 5px;
          top: 0;
          right: 0;
          width: auto;
          height: auto;
          max-width: 50vw;
          max-height: 50vh;
          min-width: calc(100vh * 0.66);
          max-height: calc(72vh * 0.66);
          border-radius: 5px;
        }
      }
      .test-h {
        display: flex;
        width: 100%;
        height: 33%;
        margin-top: auto;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 5px;
        overflow-y: auto;
        span {
          width: 100%;
          font-size: $a-fontSize;
          line-height: $a-lineHeight;
          text-align: center;
        }
      }
      .btn,
      .btn-finish {
        width: 100%;
        height: 13%;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($green, 0.7);
        span {
          font-size: $btn-fontSize;
          color: $icon;
        }
      }
      .btn.btn-active,
      .btn-finish.btn-active {
        background-color: rgba($green, 1);
        box-shadow: 2px 1px 8px rgba($black, 0.5);
        span {
          color: $white;
        }
      }
      .btn.btn-active:hover,
      .btn-finish.btn-active:hover {
        box-shadow: 0px 0px 4px rgba($black, 0.5);
        cursor: pointer;
      }
    }
  }
}
