<div class="test-screen-conatiner">

  <div class="progress-bar-container">
    <div class="bar-container">
      <div class="stepper-wrapper" *ngFor="let p of problems, let i = index">
        <div class="stepper-item" [ngClass]="{'active' : problemNumber == (i+1), 'completed' : problemNumber > i + 1}">
          <div class="step-counter">{{i + 1}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="test-container">
    <div *ngFor="let p of problems, let i = index">
      <div *ngIf="problemNumber == i+1" class="test">

        <div class="test-content">
          <div class="test-q">
            <span>{{p.questionText}}</span>
          </div>
          <div *ngFor="let a of p.answers" class="test-a" [ngClass]="{
              'test-a-active': !someAnswerIsClicked, 
              'test-a-correct': someAnswerIsClicked && a.isCorrect,
              'test-a-selected': a.id == selectedAnswerId
            }" (click)="chooseAnswer(a)">
            <span>{{a.text}}</span>
          </div>
          <a class="btn" [ngClass]="{'btn-active': someAnswerIsClicked}" (click)="nextProblem()">
            <span *ngIf="someAnswerIsClicked" class="btn-text">Напред</span>
          </a>
        </div>

        <div *ngIf="someAnswerIsClicked" class="test-info">
          <div class="test-img-container">
            <img class="test-img" src="{{p.pictureUrl}}" alt=""
              onerror="this.onerror=null;this.src='../../../assets/icons/favicon.ico';">
          </div>
          <div class="test-h">
            <span> * {{p.hint}}</span>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>
