@import "../../utilities/colors/colors.scss";

$icon-size: calc(100vw * 0.28);
$font-size: calc(100vw * 0.02);
$points-size: calc((100vw * 0.026));
$badgeSize: calc(((100vh / 15 * 12) * 0.3) * 0.6);
$badgeFontSize: calc(((100vh / 15 * 12) * 0.3) * 0.15);

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .result-container,
  .badge-container {
    height: 68vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .result-container {
    width: 45vw;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    .icon {
      width: $icon-size;
      max-width: 400px;
      height: $icon-size;
      max-height: 400px;
      font-size: $icon-size;
      color: rgba($secondary, 0.6);
    }
    p,
    a {
      margin: 15px 0;
    }
    .result {
      font-size: $font-size;
      color: rgba($green, 0.7);
      .points {
        font-size: $points-size;
      }
      .points.score {
        color: rgba($green, 1);
      }
    }
    .text {
      font-size: $font-size;
      color: rgba($secondary, 0.8);
    }
    a.text {
      margin-top: auto;
      background-color: rgba($green, 0.3);
      cursor: pointer;
      padding: 5px 25px;
      border-radius: 10px;
      box-shadow: 2px 1px 8px rgba($black, 0.5);
    }

    a.text:hover {
      box-shadow: 1px 0px 4px rgba($black, 0.5);
    }
  }
  .badge-container {
    width: 20vw;
    align-items: center;
    justify-content: space-between;
    .badge {
      width: $badgeSize;
      height: $badgeSize;
      border-radius: 100%;
      background-color: rgba($green, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .badge-text {
        color: rgba($black, 0.1);
        font-size: $badgeFontSize;
        font-weight: bolder;
        margin: 0;
      }
    }
    .badge.owned {
      background-color: rgba($green, 0.8);
      .badge-text {
        color: rgba($black, 0.8);
      }
    }
  }
}
