<div *ngIf="authors != null && authors.length > 0" class="container">
  <div class="authors-frame">
    <div class="author" [ngClass]="{'active': selectedAuthorIndex == a.index}" (click)="chooseAuthor(a)"
      *ngFor="let a of authors">
      <img class="pic" src="{{authorPicLinks[a.index]}}" alt="">
      <p class="name">{{a.name}}</p>
    </div>
  </div>
  <div class="works-frame" [ngClass]="{'empty': authorIndex == null}">
    <div class="work" [ngClass]="{'active': selectedWorkInd == w.index}" (click)="chooseWork(w.index)"
      *ngFor="let w of works">
      <img class="icon" *ngIf="w.index == 0" src="../../../assets/icons/authorGeneralInfo.svg" alt="">
      <img class="icon" *ngIf="w.index != 0" src="../../../assets/icons/authorWork.svg" alt="">
      <p class="name">{{w.name}}</p>
    </div>
  </div>

  <div class="texts-frame" [ngClass]="{'empty': !showButton}">
    <iframe [src]="url | safe" frameborder="0"></iframe>
    <div *ngIf="showButton" class="btn-container">
      <div class="btn" [ngClass]="{'active': selectedButton == 'text'}" (click)="handlerTextBtn()">
        <span *ngIf="workIndex == 0">част 1</span>
        <span *ngIf="workIndex != 0">текст</span>
      </div>
      <div class="btn" [ngClass]="{'active': selectedButton == 'analize'}" (click)="handlerAnaliseBtn()">
        <span *ngIf="workIndex == 0">част 2</span>
        <span *ngIf="workIndex != 0">анализ</span>
      </div>
      <div class="btn" [ngClass]="{'active': selectedButton == 'extras'}" (click)="handlerExtrasBtn()">
        <span *ngIf="workIndex == 0">част 3</span>
        <span *ngIf="workIndex != 0">екстри</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf=" authors != null && authors.length == 0" class="coming-soon">
  <p>Очаквайте скоро!</p>
</div>
