<div class="container">
  <div>
    <mat-card>
      <mat-card-title>Задай нова парола</mat-card-title>

      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="resetPassword()">

          <mat-error *ngIf="showError">{{errorMessage}}</mat-error>
          <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Вашата парола беше променена. Моля, <a [routerLink]="['/']"> последвайте линка за вход.
            </a>
          </div>

          <mat-form-field>
            <input matInput type="password" placeholder="Парола" formControlName="password">
            <mat-error *ngIf="password.touched && password.hasError('required')">Паролата е задължителна.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Потвърди паролата" formControlName="confirmPassword">
            <mat-error *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">Потвърди паролата е
              задължително поле</mat-error>
          </mat-form-field>

          <mat-hint *ngIf="!form.valid"><small>Моля, попълнете всички полета</small></mat-hint>

          <mat-error *ngIf="password.touched && form.hasError('passwordNotMatchingRegEx')">
            <small>Паролата трябва да е от 8 до 30 символа. Не са разрешени празни символи!</small></mat-error>

          <mat-error *ngIf="confirmPassword.touched && form.hasError('passwordsNotMatching')">
            <small>Паролите не съвпадат!</small></mat-error>

          <div class="button">
            <button mat-button type="submit" [disabled]="!form.valid">Register</button>
          </div>

        </form>

      </mat-card-content>

    </mat-card>
  </div>
</div>
