<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="links-container">
        <a class="link-box" [ngClass]="{'active': activeLink == 'text'}" (click)="showText()">
            <span class="text" >Текст</span>
            <hr class="line">
        </a>
        <a class="link-box" [ngClass]="{'active': activeLink == 'analisys'}" (click)="showAnalisys()">
            <span class="text">Анализ</span>
            <hr class="line">
        </a>
        <a class="link-box" [ngClass]="{'active': activeLink == 'extras'}" (click)="showExtras()">
            <span class="text" >Екстри</span>
            <hr class="line">
        </a>
    </div>

    <iframe allowtransparency="true" [src]="url | safe" frameborder="0" id="iframe"></iframe>
</div>
