.container {
  display: flex;
  justify-content: center;
  padding: 2.8vh 0;

  mat-card {
    width: 33.3vw;
    height: 82vh;
    padding: 30px;
    mat-card-title {
      font-weight: bold;
    }
    mat-card-content {
      form {
        height: 75vh;
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        mat-form-field {
          width: 100%;
          height: 45px;
          input,
          mat-select,
          mat-option {
            width: 100%;
            height: 30px;
          }
        }

        .button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
