<div class="container">
  <div class="profile-aside">
    <div class="profile-picture">
      <div *ngIf="profile?.pictureUrl != null" class="profile-img">
        <img src="{{profile?.pictureUrl}}" alt=""
          onerror="this.onerror=null;this.src='../../../assets/icons/brighterLogo.svg';">
      </div>
      <div *ngIf="profile?.pictureUrl == null" class="profile-img-default">
        <span *ngIf="profile?.pictureUrl == null">{{ profile == null ? '*' : profile.name[0].toUpperCase()}}</span>
      </div>
      <mat-icon (click)="updatePicture()" title="смени профилната снимка" class="profile-img-update">monochrome_photos
      </mat-icon>
    </div>
    <div class="profile-info">
      <div class="info-field">
        <span>{{profile?.name}}</span>
      </div>
      <div class="info-field">
        <p>{{profile?.email}}</p>
      </div>
      <div class="info-field">
        <span>{{profile?.grade}}</span>
        <span *ngIf="profile?.grade == 7 || profile?.grade == 8">-ми</span>
        <span *ngIf="profile?.grade != 7 && profile?.grade != 8">-ти</span>
        <span> клас</span>
      </div>
      <div class="info-field">
        <p>{{profile?.schoolName}}</p>
      </div>
      <div class="info-field">
        <span>{{profile?.townName}}</span>
      </div>
      <mat-icon title="редактирай профилната информация" class="edit-icon">edit</mat-icon>
    </div>
  </div>
  <div class="profile-content">
    <div class="content-part"></div>
    <div *ngIf="profile?.stats != null" class="content-part">
      <div class="info subject-info " *ngFor="let sbj of profile?.stats?.subjects">
        <p class="subject-name">{{sbj.subjectName.toUpperCase()}}</p>
        <p class="subject-points">{{sbj.subjectAllPoints}} точки</p>
        <p class="subject-points">{{sbj.subjectAllProblems}} въпроса</p>
        <a (click)="showDetail(sbj)"><span>детайли</span></a>
      </div>
    </div>
    <div *ngIf="subjectDetails!= null" class="content-part">
      <div class="info" *ngFor="let cat of subjectDetails.subjectCategories">
        <p class="cat-name">{{cat.categoryName}}</p>
        <p class="cat-points">{{cat.points}} точки</p>
        <p class="cat-points">{{cat.problemsCount}} въпроса</p>
      </div>
      <div class="icon-close" (click)="closeDetails()">
        <mat-icon>cancel</mat-icon>
      </div>
    </div>
