@import "../../utilities/colors/colors.scss";

$iconSize: calc(100vh / 8 * 2 / 3);
$imageSize: calc((100vh / 8 * 2 / 3) * 0.8);

.header {
  position: relative;
  mat-toolbar-row {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    img {
      width: $imageSize;
      height: $imageSize;
    }
    mat-icon,
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $iconSize;
      height: $iconSize;
      width: $iconSize;
      color: $icon;
      text-decoration: none;
      box-sizing: border-box;
    }
    .icon.open mat-icon {
      color: $green;
    }
    .icon:hover {
      border-radius: 15px;
      cursor: pointer;
      // border: 0.1px solid $icon;
    }
    .left:hover {
      box-shadow: 2px 2px 4px rgba($icon, 0.5);
    }
    .right:hover {
      box-shadow: -2px 2px 4px rgba($icon, 0.5);
    }
    .sbj-name {
      color: $icon;
      font-size: $iconSize;
    }
  }
  .modal {
    background-color: $primary;
    border-radius: 5px;
    position: absolute;
    top: 54px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    height: 192px;
    width: 200px;
    z-index: 150;
    .modal-field {
      height: 45px;
      background-color: $primary;
      width: 100%;
      text-decoration: none;
      border: $secondary solid 0.5px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
        color: rgba($secondary, 0.5);
        margin: 0 15px;
      }
      .modal-field-text {
        margin: 0;
        font-size: 18px;
        color: $secondary;
      }
    }
    .modal-field:hover {
      cursor: pointer;
      background-color: $secondary;
      border-color: $primary;
      mat-icon {
        font-size: 26px;
        width: 26px;
        height: 26px;
        color: $icon;
      }
      .modal-field-text {
        color: $icon;
        font-size: 20px;
      }
    }
  }
}
