@import "../../../utilities/colors/colors.scss";

.container {
  .action-container {
    .form-container {
      box-sizing: content-box;
      .note {
        font-size: 12px;
        font-weight: 400;
        color: rgba($black, 0.8);
        text-align: end;
      }
    }
  }
}
