<app-navigation></app-navigation>
<div class="container">
  <div *ngIf="!showTest" class="box-container">
    <a class="box sbj-assets-box" (click)="handelStartTest()">
      <img src="../../../assets/icons/subjects/sbj-test.svg" alt="" class="box-icon">
      <span class="box-name">Тест</span>
    </a>
    <a class="box sbj-assets-box" (click)="handelRankingRedirect()">
      <img src="../../../assets/icons/subjects/sbj-leaderboard.svg" alt="" class="box-icon">
      <span class="box-name">Класиране</span>
    </a>
    <a class="box sbj-assets-box" (click)="handelMaterialsRedirect()">
      <img src="../../../assets/icons/subjects/sbj-materials.svg" alt="" class="box-icon">
      <span class="box-name">Материали</span>
    </a>
  </div>
</div>
