@import "../../utilities/colors/colors.scss";

$badgeSize: calc(((100vh / 15 * 12) * 0.3) * 0.7);
$badgeFontSize: calc(((100vh / 15 * 12) * 0.3) * 0.15);

.container {
  width: 100vw;
  height: calc(100vh / 15 * 12);
  background-color: rgba($red, 0.3);
  display: flex;
  justify-content: space-between;
  .profile-aside {
    width: 30%;
    margin: 15px 0 15px 15px;
    border-radius: 15px;
    background-color: rgba($green, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba($green, 0.2);
    position: relative;

    .profile-picture {
      width: 100%;
      height: 35%;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .profile-img-default {
        width: 250px;
        height: 250px;
        background-color: rgba($secondary, 0.5);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        span {
          color: $white;
          font-size: 100px;
        }
      }
      .profile-img {
        width: 80%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: auto;
          height: 100%;
          overflow: hidden;
        }
      }
      .mat-icon.profile-img-update {
        position: absolute;
        right: 5px;
        bottom: 50%;
        width: 50px;
        height: 50px;
        font-size: 50px;
        cursor: pointer;
        color: rgba($secondary, 0.2);
      }
      .mat-icon.profile-img-update:hover {
        color: rgba($secondary, 0.7);
      }
    }
    .profile-info {
      width: 100%;
      height: 63%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .info-field {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        span,
        p {
          font-size: 32px;
          font-weight: bold;
          text-align: center;
        }
        span {
          color: rgba($black, 0.75);
        }

        p {
          color: rgba($secondary, 0.85);
        }
      }
    }
    .mat-icon.edit-icon {
      position: absolute;
      right: 5px;
      top: 38%;
      width: 50px;
      height: 50px;
      font-size: 50px;
      cursor: pointer;
      color: rgba($secondary, 0.2);
    }
    .mat-icon.edit-icon:hover {
      color: rgba($secondary, 0.7);
    }
  }
  .profile-content {
    width: calc(70% - 50px);
    margin: 15px 15px 15px 0;
    border-radius: 15px;
    background-color: rgba($icon, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgba($icon, 0.2);

    .content-part {
      height: 30%;
      width: calc(100% - 40px);
      border-radius: 15px;
      background-color: rgba($red, 0.1);
      border: 2px solid rgba($red, 0.2);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .badge {
        width: $badgeSize;
        height: $badgeSize;
        border-radius: 100%;
        background-color: rgba($green, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .badge-text {
          color: rgba($black, 0.1);
          font-size: $badgeFontSize;
          font-weight: bolder;
          margin: 0;
        }
      }
      .badge.owned {
        background-color: rgba($green, 0.8);
        .badge-text {
          color: rgba($black, 0.8);
        }
      }
      .badge-count {
        text-align: center;
        color: rgba($black, 0.8);
        font-weight: bolder;
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .subject-info {
        a {
          margin: 10px;
          cursor: pointer;
          background-color: rgba($green, 0.2);
          padding: 5px 15px;
        }
        p,
        span {
          color: rgba($black, 0.75);
          font-size: 24px;
        }
        p {
          margin: 5px;
          text-align: center;
        }
      }
    }
    .content-part.percent-badge-part {
      align-items: flex-start;
      .badge {
        margin-top: 8px;
      }
    }
  }
}

a {
  margin: 5px;
  cursor: pointer;
  background-color: rgba($green, 0.2);
  padding: 5px 15px;
  text-align: center;
  border-radius: 8px;
}
