@import "../../utilities/colors/colors.scss";
@import "../../utilities/devices/breakpoints.scss";

.container {
  padding: 24px;
  display: flex;
  flex-direction: column;

  .profile-box {
    margin-bottom: 40px;
    .profile-header {
      display: flex;
      margin-bottom: 24px;
      .profile-img {
        position: relative;
        width: 100px;
        height: 100px;
        .avatar-img {
          vertical-align: middle;
          width: inherit;
          height: inherit;
          border-radius: 50%;
        }
        .icon-box {
          position: absolute;
          bottom: 0;
          left: 76px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: rgba($white, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-img-update {
            font-size: 18px;
            width: 18px;
            height: 18px;
            opacity: 70%;
          }
        }
      }
      .header-info-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .info-field {
          margin: 3px 24px;
          .grade {
            font-size: 14px;
            line-height: 20px;
            color: rgba($text, 0.9);
          }
        }
      }
    }
    .profile-content {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 32px;
      .info-field {
        display: flex;
        .icon-box {
          width: 20px;
          height: 20px;
          margin-right: 12px;
        }
        .text {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color: rgba($text, 0.8);
        }
      }
    }
    .btn {
      box-sizing: border-box;
      height: 48px;
      margin-bottom: 40px;
      padding: 12px;
      text-align: center;
      background-color: transparent;
      border: 1px solid $primary;
      border-radius: 8px;
      color: $primary;
      font-size: 17px;
      font-weight: bold;
    }
    .badges-box {
      .badges {
        display: flex;
        padding: 16px 0;
        overflow-x: scroll;
        .badge-container {
          position: relative;
          .badge {
            width: 49px;
            height: 60px;
            margin: 0 12px;
          }
          .badge-count {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 12px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $white;
            .text {
              color: $black;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .subject-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .title {
      align-self: flex-start;
    }
    .subjects {
      width: 100%;
      box-sizing: border-box;
      margin-top: 24px;
      display: flex;
      flex-flow: wrap;
      align-content: center;
      justify-content: center;
      .sbj {
        background-color: rgba($white, 0.5);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        width: 160px;
        height: 116px;
        margin: 10px 5px 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .sbj-icon {
          width: 48px;
          height: 36px;
        }
        .sbj-name {
          font-size: 14px;
          line-height: 24px;
          font-weight: 700;
          margin-top: 12px;
        }
        .sbj-info,
        .sbj-btn {
          display: none;
        }
        .bel {
          color: $sbj-bel;
        }
        .bio {
          color: $sbj-bio;
        }
        .geo {
          color: $sbj-geo;
        }
        .chm {
          color: $sbj-chm;
        }
      }
    }
  }
  .profile-box .profile-header .header-info-box .info-field .name,
  .badges-box .title,
  .subject-box .title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 800;
    color: $text;
  }
  .mobile-hide {
    display: none;
  }
  .subject-details-box {
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .sbj {
      box-sizing: border-box;
      width: calc(100% - 10px);
      height: 200px;
      margin: 0 5px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
      background-color: rgba($white, 0.5);
      backdrop-filter: blur(20px);
      border-radius: 8px;
      .sbj-name-box {
        box-sizing: border-box;
        width: 50%;
        height: 10%;
        margin-bottom: auto;
        display: flex;
        .arrow {
          width: 16px;
          height: 14px;
        }
        .sbj-name {
          display: none;
        }
      }
      .sbj-info {
        width: 50%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .sbj-icon {
        box-sizing: border-box;
        height: auto;
        width: 50%;
        margin-top: auto;
      }
    }
    .categories {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-flow: wrap;
      align-content: center;
      justify-content: center;
      .category {
        background-color: rgba($white, 0.5);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        width: calc(100% / 2 - 10px);
        height: 155px;
        margin: 10px 5px 0 5px;
        display: flex;
        flex-direction: column;

        cursor: pointer;
        .score {
          display: flex;
          flex-direction: column;
          //justify-content: center;
          .score-text {
            text-align: center;
            margin-top: 12px;
            padding: 8px;
          }
          .score-text-big {
            text-align: center;
            margin-top: 40px;
          }
        }
      }
    }
    .sbj .sbj-info .info-text-big,
    .categories .category .score .score-text-big {
      font-size: 36px;
      line-height: 40px;
      font-weight: 800;
      color: rgba($text, 1);
    }
    .sbj .sbj-info .info-text,
    .categories .category .score .score-text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: rgba($text, 0.6);
    }
  }
}

@media (min-width: $tablet) {
  .container {
    box-sizing: border-box;
    height: calc(100vh - 220px);
    padding: 20px 40px;
    flex-direction: row;
    justify-content: space-between;
    .mobile-hide {
      display: block;
    }
    .profile-box {
      width: 40%;
      height: 100%;
      .profile-header {
        .header-info-box {
          .info-field {
            .grade {
              font-size: 24px;
              line-height: 28px;
            }
          }
        }
      }
      .profile-content {
        height: 25%;
        justify-content: space-around;
        .info-field {
          .text {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
      .btn {
        width: 50%;
      }
      .badges-box {
        margin-top: 8vh;
        .badges {
          .badge-container {
            .badge {
              width: 80px;
              height: 96px;
            }
            .badge-count {
              width: 20px;
              .text {
                font-size: 16px;
              }
              height: 20px;
            }
          }
        }
      }
    }
    .subject-box {
      width: 50%;
      height: 100%;
      justify-content: flex-start;
      .subjects {
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        margin-top: 0;
        .sbj {
          box-sizing: border-box;
          width: 44%;
          height: 44%;
          max-height: 260px;
          margin: 32px 16px 0 16px;
          padding: 24px;
          justify-content: flex-start;
          align-items: flex-start;
          .sbj-icon {
            width: auto;
            height: 36px;
          }
          .sbj-name {
            font-size: 24px;
            line-height: 28px;
            margin: 15px 0;
          }
          .sbj-info,
          .sbj-btn {
            display: flex;
            width: 100%;
            .text {
              font-size: 16px;
              line-height: 24px;
              font-weight: 600;
            }
          }
          .sbj-info {
            .text {
              margin-left: 5px;
              color: $text;
            }
          }
          .sbj-btn {
            margin-top: auto;
            justify-content: flex-end;
            .text {
              margin-right: 5px;
              color: $primary;
            }
          }
        }
      }
    }
    .profile-box .profile-header .header-info-box .info-field .name,
    .badges-box .title,
    .subject-box .title {
      font-size: 24px;
      line-height: 32px;
      font-weight: bolder;
    }
    .subject-details-box {
      width: 50%;
      height: 100%;
      overflow-y: scroll;
      .sbj {
        height: 25%;
        min-height: 200px;
        padding: 25px;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-around;
        align-content: space-around;
        .sbj-name-box {
          width: 100%;
          height: 36px;
          margin-bottom: 15px;
          .sbj-name {
            display: inline;
            font-size: 28px;
            line-height: 36px;
            font-weight: 800;
            color: rgba($text, 1);
            margin-left: 15px;
          }
          .arrow {
            padding-top: 5px;
            width: 30px;
            height: 26px;
          }
        }
        .sbj-info {
          width: 30%;
          height: 60%;
        }
        .sbj-icon {
          width: 15%;
          max-width: 100px;
        }
      }
      .categories {
        height: 80%;
        align-content: flex-start;
        .category {
          width: calc(100% / 4 - 10px);
        }
      }
    }
  }
}
