<div class="container">
  <div class="profile-aside">
    <div class="profile-picture">
      <div *ngIf="profile?.pictureUrl != null" class="profile-img">
        <img src="{{profile?.pictureUrl}}" alt=""
          onerror="this.onerror=null;this.src='../../../assets/icons/brighterLogo.svg';">
      </div>
      <div *ngIf="profile?.pictureUrl == null" class="profile-img-default">
        <span *ngIf="profile?.pictureUrl == null">{{ profile == null ? '*' : profile.name[0].toUpperCase()}}</span>
      </div>
      <mat-icon (click)="updatePicture()" title="смени профилната снимка" class="profile-img-update">monochrome_photos
      </mat-icon>
    </div>
    <div class="profile-info">
      <div class="info-field">
        <span>{{profile?.name}}</span>
      </div>
      <div class="info-field">
        <p>{{profile?.email}}</p>
      </div>
      <div class="info-field">
        <span>{{profile?.grade}}</span>
        <span *ngIf="profile?.grade == 7 || profile?.grade == 8">-м</span>
        <span *ngIf="profile?.grade != 7 && profile?.grade != 8">-т</span>
        <span>и клас</span>
      </div>
      <div class="info-field">
        <p>{{profile?.school?.name}}</p>
      </div>
      <div class="info-field">
        <span>{{profile?.townName}}</span>
      </div>
      <a *ngIf="currentUser?.isSubscriber" (click)="goToBillingPortal()">Редактирай абонамент</a>
      <mat-icon (click)="updateInfo()" title="редактирай профилната информация" class="edit-icon">edit</mat-icon>
    </div>
  </div>
  <div class="profile-content">
    <div class="content-part">
      <div class="badge" [ngClass]="{'owned': badgeIsOwned(2010)}">
        <p class="badge-text">10</p>
        <p class="badge-text">теста</p>
      </div>
      <div class="badge" [ngClass]="{'owned': badgeIsOwned(2020)}">
        <p class="badge-text">20</p>
        <p class="badge-text">теста</p>
      </div>
      <div class="badge" [ngClass]="{'owned': badgeIsOwned(2050)}">
        <p class="badge-text">50</p>
        <p class="badge-text">теста</p>
      </div>
      <div class="badge" [ngClass]="{'owned': badgeIsOwned(2100)}">
        <p class="badge-text">100</p>
        <p class="badge-text">теста</p>
      </div>
    </div>
    <div class="content-part percent-badge-part">
      <div class="badje-container">
        <div class="badge" [ngClass]="{'owned': badgeIsOwned(1070)}">
          <p class="badge-text">70%</p>
          <p class="badge-text">успех</p>
        </div>
        <p class="badge-count" *ngIf="badgeIsOwned(1070)">{{badgeCount(1070)}}</p>
      </div>
      <div class="badje-container">
        <div class="badge" [ngClass]="{'owned': badgeIsOwned(1080)}">
          <p class="badge-text">80%</p>
          <p class="badge-text">успех</p>
        </div>
        <p class="badge-count" *ngIf="badgeIsOwned(1080)">{{badgeCount(1080)}}</p>
      </div>
      <div class="badje-container">
        <div class="badge" [ngClass]="{'owned': badgeIsOwned(1090)}">
          <p class="badge-text">90%</p>
          <p class="badge-text">успех</p>
        </div>
        <p class="badge-count" *ngIf="badgeIsOwned(1090)">{{badgeCount(1090)}}</p>
      </div>
      <div class="badje-container">
        <div class="badge" [ngClass]="{'owned': badgeIsOwned(1100)}">
          <p class="badge-text">100%</p>
          <p class="badge-text">успех</p>
        </div>
        <p class="badge-count" *ngIf="badgeIsOwned(1100)">{{badgeCount(1100)}}</p>
      </div>
    </div>
    <div *ngIf="!showDetails" class="content-part">
      <div class="info subject-info " *ngFor="let sbj of pointsBySubjects">
        <p class="subject-name">{{sbj.subjectName.toUpperCase()}}</p>
        <p class="subject-points">{{sbj.points}} точки</p>
        <p class="subject-points">{{sbj.problems}} въпроса</p>
        <a (click)="showSubjectDetails(sbj.subjectId)"><span>детайли</span></a>
      </div>
    </div>
    <div *ngIf="showDetails" class="content-part">
      <div class="info" *ngFor="let cat of subjectCategories">
        <p class="cat-name">{{cat.name}}</p>
        <p class="cat-points">{{cat.percentage}} %</p>
        <p class="cat-points">коректни</p>
        <p class="cat-points">отговора</p>
      </div>
      <div class="icon-close" (click)="closeSubjectDetails()">
        <mat-icon>cancel</mat-icon>
      </div>
    </div>
