@import "../../utilities/colors/colors.scss";

.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  .profile-box,
  .badges-box {
    margin-bottom: 40px;
  }
  .profile-box {
    .profile-header {
      display: flex;
      margin-bottom: 24px;
      .profile-img {
        position: relative;
        width: 100px;
        height: 100px;
        .avatar-img {
          vertical-align: middle;
          width: inherit;
          height: inherit;
          border-radius: 50%;
        }
        .icon-box {
          position: absolute;
          bottom: 0;
          left: 76px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: rgba($white, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-img-update {
            font-size: 18px;
            width: 18px;
            height: 18px;
            opacity: 70%;
          }
        }
      }
      .header-info-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .info-field {
          margin: 3px 24px;
          span {
            font-size: 14px;
            line-height: 20px;
            color: rgba($text, 0.9);
          }
          .name {
            font-size: 17px;
            line-height: 24px;
            font-weight: 800;
            color: rgba($text, 1);
          }
        }
      }
    }
    .profile-content {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 32px;
      .info-field {
        display: flex;
        .icon-box {
          width: 20px;
          height: 20px;
          margin-right: 12px;
        }
        span {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color: rgba($text, 0.8);
        }
      }
    }
    .btn {
      box-sizing: border-box;
      height: 48px;
      padding: 12px;
      text-align: center;
      background-color: transparent;
      border: 1px solid $primary;
      border-radius: 8px;
      color: $primary;
      font-size: 17px;
      font-weight: bold;
    }
  }
  .badges-box {
    .badges {
      display: flex;
      padding: 16px 0;
      overflow-x: scroll;
      .badge {
        width: 49px;
        height: 60px;
        margin: 0 12px;
      }
      .badge-container {
        position: relative;
        .badge-count {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 5px;
          right: 12px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: rgba($white, 0.5);
          span {
            color: rgba($text, 0.8);
            font-size: 10px;
          }
        }
      }
    }
  }
  .subject-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .title {
      align-self: flex-start;
    }
    .subjects {
      width: 100%;
      box-sizing: border-box;
      margin-top: 24px;
      display: flex;
      flex-flow: wrap;
      align-content: space-between;
      justify-content: space-around;
      .sbj {
        background-color: rgba($white, 0.5);
        border-radius: 8px;
        width: 160px;
        height: 116px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .sbj-icon {
          width: 48px;
          height: 36px;
        }
        .sbj-name {
          font-size: 14px;
          line-height: 24px;
          font-weight: 700;
          margin-top: 12px;
        }
        .bel {
          color: $sbj-bel;
        }
        .bio {
          color: $sbj-bio;
        }
        .geo {
          color: $sbj-geo;
        }
        .chm {
          color: $sbj-chm;
        }
      }
    }
  }
  .badges-box,
  .subject-box {
    .title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: $primary;
    }
  }
}
