/* You can add global styles to this file, and also import other style files */
@import "./app/utilities/colors/colors.scss";
@import "./app/utilities/devices/breakpoints.scss";

body::before {
  content: "";
  background-image: url("./assets/images/background-main.jpg");
  opacity: 30%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  app-root {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: inherit;
    app-header {
      margin-top: 44px;
    }
    app-footer {
      margin-top: auto;
    }

    .header,
    .footer {
      font-family: inherit;
    }
  }

  button,
  p {
    font-family: "Rubik", sans-serif;
  }
  a {
    color: $black;
    font-family: "Rubik", sans-serif;
  }

  .mat-dialog-container {
    padding: 0;
    border-radius: 16px;
  }
  div.cdk-overlay-pane {
    max-width: 98vw !important;
    max-height: 90vh !important;
  }
  mat-option span.mat-option-text {
    font-family: "Rubik", sans-serif;
    color: rgba($black, 0.6);
    font-size: 14px;
  }
}
@media (min-width: $phone) {
  body {
    app-root {
      app-header {
        margin-top: 0;
      }
    }
  }
}
