/* You can add global styles to this file, and also import other style files */
@import "./app/utilities/colors/colors.scss";

body {
  background-image: url("./assets/images/background-main.jpg");
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  font-size: 16px;

  app-root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header,
  .footer {
    background-color: rgba($secondary, 0.9);
    font-family: inherit;
  }
  .footer {
    height: calc(100vh / 15 * 1);
    max-height: 65px;
  }
  div {
    box-sizing: inherit;
  }
  button,
  p {
    font-family: "Rubik", sans-serif;
  }
  mat-card {
    mat-card-title,
    div {
      font-family: "Rubik", sans-serif;
    }
    mat-card-content {
      form {
        mat-error,
        mat-select span,
        mat-option,
        mat-form-field input,
        mat-form-field input.mat-input-element,
        button span {
          font-family: "Rubik", sans-serif;
        }
      }
    }
  }
  mat-option span.mat-option-text {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
  }
  .mat-dialog-container {
    padding: 0;
  }
}
