/* You can add global styles to this file, and also import other style files */
@import "./app/utilities/colors/colors.scss";

body::before {
  content: "";
  background-size: cover;
  background-image: url("./assets/images/background-main.jpg");
  opacity: 30%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;

  app-root {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header,
  .footer {
    font-family: inherit;
  }

  div {
    box-sizing: inherit;
  }
  button,
  p {
    font-family: "Rubik", sans-serif;
  }
  mat-card {
    mat-card-title,
    div {
      font-family: "Rubik", sans-serif;
    }
    mat-card-content {
      form {
        mat-error,
        mat-select span,
        mat-option,
        mat-form-field input,
        mat-form-field input.mat-input-element,
        button span {
          font-family: "Rubik", sans-serif;
        }
      }
    }
  }
  mat-option span.mat-option-text {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
  }
  .mat-dialog-container {
    padding: 0;
  }
}
