<div class="container">
  <div class="action-container">
    <div class="title-container">
      <span class="title">Въведете новата парола</span>
      <div *ngIf="showSuccess" class="text">
        Вашата парола беше променена.<a [routerLink]="['/']"> Bход.
        </a>
      </div>
    </div>
    <div class="form-container">
      <form [formGroup]="form" (ngSubmit)="resetPassword()" class="form">

        <mat-error *ngIf="showError" class="server-error">{{errorMessage}}</mat-error>

        <div class="input-container">
          <div class="info">
            <span class="label">Парола</span>
            <mat-error *ngIf="password.touched && form.hasError('passwordNotMatchingRegEx')">*от
              8 до 30 символа.</mat-error>
          </div>
          <input matInput type="password" formControlName="password" placeholder="Въведете парола" class="input">
        </div>

        <div class="input-container">
          <div class="info">
            <span class="label">Повтори парола</span>
            <mat-error *ngIf="confirmPassword.touched && form.hasError('passwordsNotMatching')">*паролите не съвпадат.
            </mat-error>
          </div>
          <input matInput type="password" formControlName="confirmPassword" placeholder="Въведете паролата отново"
            class="input">
        </div>

        <div class="button-container">
          <button mat-button type="submit" [disabled]="!form.valid" class="button">Изпрати</button>
        </div>
      </form>

    </div>

  </div>
</div>
