<div class="container">
  <div>
    <mat-card>
      <mat-card-title>Забравена парола</mat-card-title>

      <mat-card-content>

        <mat-error *ngIf="showError">{{errorMessage}}</mat-error>
        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          {{successMessage}}
        </div>
        <form [formGroup]="form" (ngSubmit)="forgotPassword()">

          <mat-form-field>
            <input matInput type="email" placeholder="Имейл" formControlName="email">
            <mat-error *ngIf="email.touched && email.hasError('required')">Имейлът е задължителен</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Имейл адресът не е валиден!</mat-error>
          </mat-form-field>

          <div class="button">
            <button mat-button type="submit" [disabled]="!form.valid">Потвърди</button>
          </div>

        </form>

      </mat-card-content>

    </mat-card>
  </div>
</div>
