@import "../../utilities/colors/colors.scss";

$icon-size: calc(100vw * 0.16);
$font-size: calc(100vw * 0.02);
$points-size: calc((100vw * 0.026));
.container.b {
  background-color: rgba($red, 0.05);
  border: 1px dotted rgba($red, 0.2);
}
.container.n {
  background-color: rgba($secondary, 0.05);
  border: 1px dotted rgba($secondary, 0.2);
}
.container.e {
  background-color: rgba($green, 0.05);
  border: 1px dotted rgba($green, 0.2);
}
.container {
  width: 45vw;
  height: 66vh;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 4vh 0 2vh 0;
  justify-content: start;
  align-items: center;
  align-self: center;
  border-radius: 20px;
  .icon {
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
    color: rgba($secondary, 0.6);
    margin-bottom: 50px;
  }
  .icon.bad {
    color: rgba($red, 0.9);
  }
  .icon.exellent {
    color: rgba($green, 0.9);
  }
  p,
  a {
    margin: 15px 0;
  }
  .result {
    font-size: $font-size;
    color: rgba($green, 0.7);
    .points {
      font-size: $points-size;
    }
    .points.score {
      color: rgba($green, 1);
    }
  }
  .text {
    font-size: $font-size;
    color: rgba($secondary, 0.8);
  }
  .text.bad {
    color: rgba($red, 0.9);
  }
  .text.exellent {
    color: rgba($green, 0.9);
  }
  a.text {
    margin-top: auto;
    background-color: rgba($green, 0.3);
    cursor: pointer;
    padding: 5px 25px;
    border: 1px dotted rgba($green, 0.3);
    border-radius: 10px;
  }
}
