.container {
  display: flex;
  justify-content: center;

  mat-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 540px;
    display: flex;

    mat-card-content {
      display: flex;
      height: inherit;
      justify-content: center;
      align-items: center;
      height: 20vh;
    }
  }
}
