<app-breadcrumb></app-breadcrumb>
<div class="test-container">
  <div class="result-info-container">
    <div class="result-info-sector">
      <span class="number">{{maxScore}}</span>
      <span class="text">&nbsp;макс</span>
    </div>
    <div class="result-info-sector">
      <span class="number">{{points ? points : 0}}</span>
      <span class="text">&nbsp;точки</span>
    </div>
    <div class="result-info-sector">
      <span class="text">въпрос&nbsp;</span>
      <span class="number">{{problemNumber}}/20</span>
    </div>
  </div>
  <app-progress-bar [count]="20" [problemNumber]="problemNumber"></app-progress-bar>

  <div *ngFor="let p of problems, let i = index">
    <div *ngIf="problemNumber == i+1" class="test">

      <div class="test-content">
        <div class="question-box">
          <div class="question" [ngClass]="{'q-big': p.pictureUrl == null}">
            <span class="question-text">{{p.questionText}}</span>
          </div>
          <div *ngIf="p.pictureUrl != null" class="img-container" (click)="openImage(p.pictureUrl)">
            <img class="img" src="{{p.pictureUrl}}" alt=""
              onerror="this.onerror=null;this.src='../../../assets/icons/favicon.ico';">
            <mat-icon class="zoom-img-icon">zoom_in</mat-icon>
          </div>
        </div>
        <div *ngFor="let a of p.answers" class="answer" [ngClass]="{
            'answer-active': !someAnswerIsClicked, 
            'answer-correct': someAnswerIsClicked && a.isCorrect,
            'answer-selected': a.id == selectedAnswerId
          }" (click)="chooseAnswer(a, p.subjectCategoryId)">
          <span class="answer-text">{{a.text}}</span>
        </div>
        <div *ngIf="p.hint && someAnswerIsClicked" class="hint">
          <span class="hint-text"> * {{p.hint}}</span>
        </div>
      </div>

      <a *ngIf="problemNumber<20" class="btn" [ngClass]="{'btn-active': someAnswerIsClicked == true}"
        (click)="nextProblem()">
        <span class="btn-text">Продължи</span>
      </a>
      <a *ngIf="problemNumber==20" class="btn-finish" [ngClass]="{'btn-active': someAnswerIsClicked == true}"
        (click)="finishTest()">
        <span class="btn-text">Предай</span>
      </a>

    </div>
  </div>
</div>
