<mat-card class="dialog-container">
  <mat-card-title>Смени училище</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-select placeholder="Изберете община..." formControlName="municipality"
          (selectionChange)="getTowns($event.value)">
          <mat-option *ngFor="let m of municipalities" [value]="m.id">{{m.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Изберете град/село..." formControlName="town"
          (selectionChange)="getSchools($event.value)">
          <mat-option *ngFor="let t of towns" [value]="t.id">{{t.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Изберете училище..." formControlName="school">
          <mat-option *ngFor="let sch of schools" [value]="{name: sch.name, id: sch.id}">{{sch.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>
  <div class="dialog-btn-container">
    <button class="btn" (click)="cancel()">Отказ</button>
    <button class="btn" [disabled]="!school.value" (click)="confirm()">Потвърди</button>
  </div>
</mat-card>
