<div class="container">
  <div class="title">Редакция училище</div>
  <div class="form-box">
    <form [formGroup]="form" class="form">

      <div class="field">
        <mat-select placeholder="Изберете община..." formControlName="municipality"
          (selectionChange)="getTowns($event.value)" class="input">
          <mat-option *ngFor="let m of municipalities" [value]="m.id">{{m.name}}
          </mat-option>
        </mat-select>
      </div>

      <div class="field">
        <mat-select placeholder="Изберете град/село..." formControlName="town"
          (selectionChange)="getSchools($event.value)" class="input">
          <mat-option *ngFor="let t of towns" [value]="t.id">{{t.name}}</mat-option>
        </mat-select>
      </div>

      <div class="field">
        <mat-select placeholder="Изберете училище..." formControlName="school" class="input">
          <mat-option *ngFor="let sch of schools" [value]="{name: sch.name, id: sch.id}">{{sch.name}}</mat-option>
        </mat-select>
      </div>

    </form>
  </div>
  <div class="btn-box">
    <button class="btn" (click)="cancel()">Отказ</button>
    <button class="btn" [disabled]="!school.value" (click)="confirm()">Потвърди</button>
  </div>
</div>
