<div class="container">
  <div class="action-container">
    <div class="title-container">
      <span class="title">Вход</span>
      <span class="text">Добре дошли отново!</span>
      <span class="text">Моля, въведете своите данни.</span>
    </div>
    <div class="form-container">
      <div class="form-box">
        <form [formGroup]="form" (ngSubmit)="login()">

          <mat-error *ngIf="showError" class="server-error">{{errorMessage}}</mat-error>
          <div class="input-container">
            <span class="label">Имейл</span>
            <input type="email" formControlName="email" class="input" placeholder="Въведете своя мейл">
          </div>

          <div class="input-container">
            <span class="label">Парола</span>
            <input type="password" formControlName="password" class="input" placeholder="Въведете парола">
          </div>
          <div class="forgot-pass">
            <a routerLink="/auth/forgotpassword" class="text"><span>Забравили сте паролата си?</span></a>
          </div>


          <div class="button-container">
            <button mat-button type="submit" [disabled]="!form.valid" class="button">Вход</button>
          </div>

          <mat-error *ngIf="email.touched && email.hasError('required')">Имейлът е задължителен</mat-error>
          <mat-error *ngIf="email.touched && email.hasError('email')">Имейл адресът не е валиден</mat-error>
          <mat-error *ngIf="password.touched && password.hasError('required')">Паролата е зъдължителна</mat-error>

        </form>
      </div>
    </div>
    <div class="sign_up-container">
      <span class="text">Нямате акаунт?&nbsp;</span>
      <a routerLink="/auth/register"><span class="link">Регистрация</span></a>
    </div>
  </div>
</div>
