@import "../../../utilities/colors/colors.scss";

.action-container {
  height: 440px;
  .form {
    .forgot-pass {
      margin-left: auto;
      .text {
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        color: rgba($black, 0.8);
      }
    }
  }
}
