@import "../../utilities/colors/colors.scss";

.mat-card.dialog-container {
  background-color: rgba($primary, 0.3);
  width: 480px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  mat-card-title {
    text-align: center;
    color: $secondary;
    margin-top: 10px;
    font-weight: bold;
  }
  .content {
    text-align: center;
    margin: 0;
    color: $red;
    font-weight: bold;
  }
  .dialog-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    button {
      margin-top: 10px;
      text-decoration: none;
      width: 160px;
      height: 40px;
      border: none;
      cursor: pointer;
      font-size: 22px;
      color: $secondary;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 3px 3px 8px rgba($black, 0.5);
    }
    .btn:hover {
      box-shadow: 1px 1px 4px rgba($black, 0.5);
    }
    .btn:focus {
      outline: none;
    }
  }
}
