@import "../../utilities/colors/colors.scss";

.dialog-container {
  width: 320px;
  height: 180px;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    text-align: center;
    color: $text;
    font-size: 18px;
    line-height: 24px;
    font-weight: bolder;
  }
  .content {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: $text;
    font-weight: 600;
  }
  .dialog-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .btn {
      text-decoration: none;
      width: 108px;
      height: 32px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      //box-shadow: 3px 3px 8px rgba($black, 0.5);
    }
    .btn-no {
      background-color: $primary;
      color: $white;
    }
    .btn-yes {
      border: solid 1px $primary;
      background-color: $white;
      color: $primary;
    }
    .btn:focus {
      outline: none;
    }
    // .btn:hover {
    //   box-shadow: 1px 1px 4px rgba($black, 0.5);
    // }
  }
}
