<mat-toolbar class="header">
  <mat-toolbar-row>
    <a class="icon left" routerLink="/main" (click)="hideModal()">
      <img src="../../../assets/icons/logoText.svg" alt="">
    </a>
    <a *ngIf="subject && isAuth" routerLink="/subject/{{subject.id}}">
      <span class="sbj-name">
        {{subject.name.toUpperCase()}}
      </span>
    </a>
    <a *ngIf="isAuth" class="icon right" [ngClass]="{'open': showModal == true}" (click)="changeShowModal()">
      <mat-icon>menu</mat-icon>
    </a>
  </mat-toolbar-row>
  <div class="modal" @slideRight *ngIf="showModal">
    <a class="modal-field" routerLink="/profile" (click)="hideModal()">
      <mat-icon>account_circle</mat-icon>
      <p class="modal-field-text">Профил</p>
    </a>
    <a class="modal-field" routerLink="/memberships" (click)="hideModal()">
      <mat-icon>payment</mat-icon>
      <p class="modal-field-text">Абонамент</p>
    </a>
    <a class="modal-field" (click)="hideModal()">
      <mat-icon>help</mat-icon>
      <p class="modal-field-text">Помощ</p>
    </a>
    <a class="modal-field" (click)="handleSignOut()">
      <mat-icon>exit_to_app</mat-icon>
      <p class="modal-field-text">Отписване</p>
    </a>
  </div>

</mat-toolbar>
