@import "../../utilities/colors/colors.scss";

$iconSize: calc(100vh / 8 * 2 / 3);
$imageSize: calc((100vh / 8 * 2 / 3) * 0.8);
$headerHeightValue: calc(100vh / 15 * 2);
$modalHeightValue: calc(100vh / 15 * 12);
$modalFieldHeightValue: calc(100vh / 15);
$modalWidthValue: calc(100vh / 15 * 6);
$modalIconSize: calc(100vh / 8 * 2 / 6);
$modalFontSize: calc((100vh / 8 * 2 / 6) * 0.8);

.header {
  position: relative;
  height: $headerHeightValue;
  max-height: 130px;
  mat-toolbar-row {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    img {
      width: $imageSize;
      height: $imageSize;
    }
    mat-icon,
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $iconSize;
      height: $iconSize;
      width: $iconSize;
      color: $icon;
      text-decoration: none;
      box-sizing: border-box;
    }
    .icon.open mat-icon {
      color: $green;
    }
    .icon:hover {
      border-radius: 15px;
      cursor: pointer;
    }
    .left:hover {
      box-shadow: 2px 2px 4px rgba($icon, 0.5);
    }
    .right:hover {
      box-shadow: -2px 2px 4px rgba($icon, 0.5);
    }
    .sbj-name {
      color: $icon;
      font-size: $iconSize;
    }
  }
  .modal {
    background-color: rgba($primary, 1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    top: $headerHeightValue;
    right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: $modalWidthValue;
    height: $modalHeightValue;
    max-height: calc(100vh - 195px);
    z-index: 150;
    .modal-field {
      height: $modalFieldHeightValue;
      width: 100%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      text-decoration: none;
      display: flex;
      align-items: center;
      mat-icon {
        font-size: $modalIconSize;
        width: $modalIconSize;
        height: $modalIconSize;
        color: rgba($secondary, 0.5);
        margin: 0 30px;
      }
      .modal-field-text {
        margin: 0;
        font-size: $modalFontSize;
        color: rgba($secondary, 0.5);
      }
    }
    .modal-field:hover {
      cursor: pointer;
      background-color: rgba($secondary, 0.5);
      mat-icon {
        color: $icon;
      }
      .modal-field-text {
        color: $icon;
      }
    }
  }
}
