@import "../../utilities/colors/colors.scss";
@import "../../utilities/devices/breakpoints.scss";

.container {
  height: 24px;
  padding: 20px 20px 10px 20px;
  .menu-container {
    background-color: $menu;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    padding: 54px 24px;

    .close-box {
      margin-bottom: 48px;
      display: flex;
      justify-content: flex-end;
    }
    .menu-box {
      width: 200px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .menu-field {
      height: 32px;
      display: flex;
      text-decoration: none;
      cursor: pointer;
      .menu-field-text {
        margin: 0 0 0 16px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        color: $white;
      }
    }
  }
  .header {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    .app-name {
      width: 80px;
      height: 24px;
      padding-top: 4px;
      img {
        width: inherit;
        height: inherit;
      }
    }

    // .sbj-name {
    //   color: $secondary;
    //   font-size: 20px;
    //   font-weight: bold;
    //   line-height: 28px;
    // }

    .icon-container {
      width: 24px;
      height: 24px;
      .icon-menu-left {
        display: none;
      }
      .icon-arrow,
      .icon-avatar,
      .icon-menu-right {
        width: inherit;
        height: inherit;
        img {
          width: inherit;
          height: inherit;
        }
      }
      .icon-avatar {
        display: none;
        .avatar-img {
          vertical-align: middle;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          color: brown;
        }
      }
      .icon-hide {
        display: none;
      }
      .cancel-btn {
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        .cancel-text {
          color: $text;
          font-size: 14px;
          font-weight: 600;
          line-height: 28px;
        }
      }
    }
  }
}

@media (min-width: $phone) {
  .container {
    height: 40px;
    padding: 40px;
    .menu-container {
      width: 320px;
      margin-right: calc(100vw - 320px);
      .close-box {
        justify-content: flex-start;
        margin-left: 20px;
      }
    }
    .header {
      .app-name {
        width: 124px;
        height: 32px;
      }
      // .sbj-name {
      //   font-size: 32px;
      //   line-height: 40px;
      // }
      .icon-container {
        width: 40px;
        height: 40px;
        .icon-arrow {
          display: none;
        }
        .icon-avatar,
        .icon-menu-left {
          display: inline;
        }
        .icon-hide {
          display: inline;
        }
        .icon-menu-right {
          display: none;
        }
        .cancel-btn {
          display: none;
        }
      }
    }
  }
}
