<div class="container">
  <div class="header">

    <div class="icon">
      <a *ngIf="isAuth" routerLink="/main" (click)="hideModal()">
        <img src="../../../assets/icons/menu.svg" alt="">
      </a>
    </div>


    <div *ngIf="isAuth == null || subject == null" class="app-name">
      <img src="../../../assets/icons/logoText.svg" alt="">
    </div>

    <a *ngIf="subject && isAuth" routerLink="/subject/{{subject.id}}">
      <span class="sbj-name">
        {{subject.name}}
      </span>
    </a>


    <div>
      <a *ngIf="isAuth" [ngClass]="{'open': showModal == true}" (click)="changeShowModal()">
        <img src="../../../assets/icons/menu.svg" alt="">
      </a>
    </div>

  </div>

  <div class="modal" @slideRight *ngIf="showModal">
    <a class="modal-field" routerLink="/profile" (click)="hideModal()">
      <mat-icon>account_circle</mat-icon>
      <p class="modal-field-text">Профил</p>
    </a>
    <a class="modal-field" routerLink="/memberships" (click)="hideModal()">
      <mat-icon>payment</mat-icon>
      <p class="modal-field-text">Абонамент</p>
    </a>
    <a class="modal-field" (click)="hideModal()">
      <mat-icon>help</mat-icon>
      <p class="modal-field-text">Помощ</p>
    </a>
    <a class="modal-field" (click)="handleSignOut()">
      <mat-icon>exit_to_app</mat-icon>
      <p class="modal-field-text">Отписване</p>
    </a>
  </div>

</div>
