@import "../../utilities/colors/colors.scss";
@import "../../utilities/devices/breakpoints.scss";

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ranking,
  .user-result .info {
    background-color: rgba($white, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 8px;
  }
  .ranking,
  .user-result {
    width: calc(100% - 48px);
  }
  .ranking {
    box-sizing: border-box;
    height: 390px;
    padding: 12px;
    overflow-y: auto;
    .user {
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      flex-wrap: wrap;
      .rank,
      .user-info .name {
        font-size: 16px;
        line-height: 24px;
        font-weight: 800;
      }
      .user-info {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        .score {
          font-size: 12px;
          line-height: 20px;
          font-weight: 600;
          color: rgba($text, 0.7);
        }
      }
      .star {
        margin-left: auto;
        font-size: 32px;
      }
      .gold {
        color: $gold;
      }
      .silver {
        color: $silver;
      }
      .bronz {
        color: $bronz;
      }
      .line {
        width: 100%;
        margin-top: 0;
        margin-bottom: 16px;
      }
    }
  }
  .title {
    margin-left: 20px;
    align-self: flex-start;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
  }
  .user-result {
    display: flex;
    flex-wrap: wrap;
    .info {
      width: calc((100vw - 48px) / 2 - 16px);
      height: calc((100vw - 48px) / 2 - 16px);
      margin: 0 8px 16px 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .info-number {
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        color: $text;
      }
      .info-text {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: rgba($text, 0.7);
      }
    }
  }
}
@media (min-width: $desktop) {
  .users:hover {
    background-color: rgba($white, 0.2);
    border-radius: 8px;
  }
}
