@import "../../utilities/colors/colors.scss";

.container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .ranking,
  .user-result {
    box-sizing: border-box;
    border-radius: 8px;
    height: 100%;
  }
  .ranking {
    width: 72%;
    padding: 0 15px;
    background-color: rgba($green, 0.2);
    .title {
      padding: 0 15px;
      font-weight: bold;
      font-size: 18px;
      color: rgba($black, 0.75);
    }
    overflow-y: auto;
    .user-info {
      font-weight: bold;
      font-size: 24px;
      color: rgba($black, 0.75);
    }
    .users {
      display: flex;
      flex-direction: row;
      padding: 0 15px;
      cursor: pointer;
      .rank-container {
        width: 15%;
        max-width: 92px;
        display: flex;

        mat-icon {
          margin: 10px 10px;
          width: 52px;
          height: 52px;
          font-size: 52px;
        }
        mat-icon.gold {
          color: gold;
        }
        mat-icon.silver {
          color: silver;
        }
        mat-icon.bronz {
          color: rgb(85, 74, 60);
        }
      }
      .name {
        width: 40%;
        max-width: 600px;
      }
      .points {
        display: flex;
        p {
          text-align: end;
        }
        .number {
          width: 60px;
        }
        .text {
          width: 70px;
          font-weight: normal;
        }
      }
      .perc {
        margin-left: auto;
      }
    }
    .users:hover {
      background-color: rgba($white, 0.2);
      border-radius: 8px;
    }
  }
  .user-result {
    padding: 0 30px;
    width: 27%;
    background-color: rgba($red, 0.2);
    .title {
      font-weight: bold;
      font-size: 18px;
      color: rgba($black, 0.75);
    }
    .info {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      .info-text {
        width: 70%;
        font-weight: bold;
        font-size: 24px;
        color: rgba($black, 0.75);
      }
      .info-number {
        width: 30%;
        margin-left: auto;
        width: 100px;
        text-align: end;
      }
    }
  }
}
