<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="ranking">
    <div class="user" *ngFor="let u of users, let i = index " (click)="getUserInfo(u.userId)">
      <span class="rank">{{i + 1}}.</span>
      <div class="user-info">
        <span class="name">{{u.userName}}</span>
        <span class="score">{{u.points}} точки | {{u.percentage}}%</span>
      </div>
      <mat-icon *ngIf="i == 0" class="star gold">star</mat-icon>
      <mat-icon *ngIf="i == 1" class="star silver">star</mat-icon>
      <mat-icon *ngIf="i == 2" class="star bronz">star</mat-icon>
    </div>
  </div>
  <p class="title">Вашият резултат:</p>
  <div class="user-result">
    <div class="info">
      <span class="info-number">{{logedUserPlace}}</span>
      <span class="info-text">Място</span>
    </div>
    <div class="info">
      <span class="info-number">{{logedUser?.points}}</span>
      <span class="info-text">Точки</span>
    </div>
    <div class="info">
      <span class="info-number">{{logedUser?.problemsCount}}</span>
      <span class="info-text">Въпроси</span>
    </div>
    <div class="info">
      <span class="info-number">{{logedUser?.percentage}}%</span>
      <span class="info-text">Точност</span>
    </div>
  </div>
</div>
