@import "../../utilities/colors/colors.scss";

.dialog-container {
  background-color: $primary;
  width: 450px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mat-card-title {
    text-align: center;
    color: $secondary;
  }
  .dialog-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      margin-top: 10px;
      text-decoration: none;
      width: 160px;
      height: 40px;
      border: none;
      cursor: pointer;
      font-size: 22px;
      color: $secondary;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 3px 3px 8px rgba($black, 0.5);
    }
    .btn:hover {
      box-shadow: 1px 1px 4px rgba($black, 0.5);
    }
    .btn:focus {
      outline: none;
    }
  }
}
