@import "../utilities/colors/colors.scss";

.container {
  width: 33.3vw;
  height: 82vh;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .actionContainer {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .text {
      display: flex;
      justify-content: flex-end;
    }
    .btn {
      height: 60px;
      width: 100%;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 5px;
      box-shadow: 4px 4px 8px rgba($black, 0.2);
    }
    .text,
    .btn {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.5);
    }
    .text:hover,
    .btn:hover {
      cursor: pointer;
      color: black;
    }
    .btn:hover {
      box-shadow: 1px 1px 3px rgba($black, 0.1);
    }
  }
}
