@import "../../utilities/colors/colors.scss";

$fontSize: calc(100vw / 10);

.title-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40%;
  .title-text {
    font-size: $fontSize;
    margin: 30px 0;
    color: rgba($secondary, 0.25);
  }
}
