@import "../../utilities/colors/colors.scss";

.progress-bar-container {
  width: inherit;
  height: 8px;
  .bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .stepper-wrapper {
      height: 100%;
      width: calc((100% / 20) + 1px);
      .stepper-item {
        width: 100%;
        height: 100%;
        background-color: rgba($secondary, 0.1);
      }
      .stepper-item.completed {
        background-color: rgba($progress-bar, 1);
      }
    }
    .stepper-wrapper:first-child .stepper-item {
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }

    .stepper-wrapper:last-child .stepper-item {
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}
