<div class="container">

  <h2>{{product?.name}}</h2>
  <h5>{{product?.description}}</h5>
  <div class="prices-container">
    <div class="price" *ngFor="let pr of prices">
      <h3>{{pr.description}}</h3>
      <h5 *ngIf="pr.subscription == null">interval: n/a</h5>
      <p *ngIf="pr.subscription == null">recurring: no</p>
      <h5 *ngIf="pr.subscription">interval: {{pr.subscription}}</h5>
      <p *ngIf="pr.subscription">recurring: yes</p>
      <h5>price: {{pr.price}} BGN</h5>
      <h4>Free cancelation</h4>
      <a class="btn" (click)="Checkout(pr.id)">Checkout</a>
    </div>
  </div>
</div>
