@import "../../utilities/colors/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 60vh;
  .prices-container {
    display: flex;
    width: 100%;
    justify-content: center;
    .price {
      width: 360px;
      margin: 2px;
      border-radius: 8px;
      border: 0.5px solid $black;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    text-align: center;
  }

  .btn {
    margin: 3px;
    cursor: pointer;
    border-radius: 8px;
    border: 0.5px solid $black;
  }
}
